.container {
    margin-top: 50px;
}

.btnsContato {
    display: flex;         /* Alinha o conteúdo em linha */
    align-items: center;   /* Alinha verticalmente o conteúdo no centro */
    text-decoration: none; /* Remove o sublinhado */
}

.btnsContato p {
    margin: 0;             /* Remove a margem padrão do <p> */
}