.container{
    margin-top: 150px;
}

#text_{
    margin-top: -65px;
}

#foto_pessoal{
    width: 100%;
    height: 100%;
}
 #text_home_1{
    color: #ffffff;
 }
 #text_strong{
    color: #ecc16c;
 }
 #text_home_2{
    color: #ffffff;
 }
 
 #vamos_btn{
    position:relative;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    color:#ffffff;    
    background-color: #000053;
    
    letter-spacing: 2px;
    font-size: 16px;
    transition: 0.5s;
}

#vamos_btn:hover{
    color: rgba(255, 255, 255, 1);
}

#vamos_btn span{
    display: block;
    position: absolute;
    background: #f8b328;
}

#vamos_btn span:nth-child(1){
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}

#vamos_btn:hover span:nth-child(1){
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}

#vamos_btn span:nth-child(2){
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

#vamos_btn:hover span:nth-child(2){
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
}

#vamos_btn span:nth-child(3){
    right: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

#vamos_btn:hover span:nth-child(3){
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

#vamos_btn span:nth-child(4){
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

#vamos_btn:hover span:nth-child(4){
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}





p{
    /* color: #ffffff; */
    font-size: 16px;
}

h1{
    font-size: 40px;
    /* color:#eaeaea; */
    
}

