*{
    
}

#btn_inpage{
    text-decoration: none;
    font-size: medium;
    margin-left: +0px;
    color: white;
}

#containerSobre1{
    margin-top: -20px;
}

#text_strong{
    color: #ecc16c;
}

.componente{
    /* border-radius: 30px;    */
    padding: 3%; 
    color:white;
}

.p_componente{
    color:white;
}
/* {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(18, 3, 25, 0.5);
} */